*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{  
    --form-border: rgba(143, 142, 142, 0.27);
    --width-form: 350px;
}
body{
    padding: 50px;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}
.login{
    display: flex;
    flex-direction: column;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin-bottom: 12px;
    border: 1px solid var(--form-border);
    text-align: center;
    width: var(--width-form);
    height: 438px;
}
#username, #password{
    height: 40px;
    width: 100%;
    margin-bottom: 8px;
    border: 1.5px solid rgba(110, 107, 107, 0.24);
    border-radius:3px;
    background-color: #FAFAFA;
    padding: 10px;
    font-size: .88rem;
}
#password{
    position:relative;
}
#username:focus-within, #password:focus-within{
    outline: none;
    border: 1.5px solid rgba(0, 0, 0, 0.385);
}
#username::placeholder, #password::placeholder{
    font-size: .78rem;
}
.disable{
    opacity: 0.7;
}

.password_show{
    height: 40px;
}
#show{
    display: none;
    position: absolute;
    margin-left: -48px;
    margin-top: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: .9rem;
    color: rgb(78, 77, 77);
    background-color: #FAFAFA;
}
#show:hover{
    color: rgba(0, 0, 0, 0.384);
}
.submit{
    background-color: #0095F6;
    height: 35px;
    width: 100%;
    font-size: .9rem;
    font-weight: bold;
    color: white;
    border-radius: 9px;
    border: none;
    margin-top: 14px;
    margin-bottom: 10px;
}
.facebook{
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}
.login_facebook{
    text-decoration: none;
    color: #11518a;
    font-weight: bold;
    align-self: center;    
    font-size: .94rem;
    margin-left: 7px;
}
.icon_facebook{
    width: 26px;
}
.instagram_logo{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    
}
.separator {
    isolation: isolate;
    padding-block: .5rem;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 3px;
  }
  
  .separator::before {
    content: '';
    background: #eee;
    height: 2px;
    position: absolute;
    inset: 0;
    top: 50%;
    z-index: -1;
  }
  
  .separator span {
    background: white;
    padding: 1rem;
    font-family: system-ui, sans-serif;
    color: #888383d3;
  }
.forgot_password{
    font-size: .8rem;
    color:  #0b406d;;
}
.dont_account{
    display: flex;
    justify-content: center;
    align-items:  center;
    border: 1px solid var(--form-border);
    width: var(--width-form);
    height: 68px;
    margin-bottom: 20px;
}
.sing_up{
    text-decoration: none;
    color: #0095F6;
    margin-left: 5px;
}
.apps{
    display: flex;
    width: var(--width-form);
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}
.get_app{
    margin-bottom: 20px;
}
.google_play{
    width: 145px;
}
.microsoft{
    margin-left: 4px;
    width: 116px;
}

.info{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 30px;
    margin-bottom: 20px;
}
.info li{
    list-style: none;
    font-size: .8rem;
    margin-right: 15px;
}
.info li > a{
    color: rgba(75, 75, 75, 0.781);
    text-decoration: none;
}
.underline:hover{
    text-decoration: underline;
}

.final{
    display: flex;
    font-size: .8rem;
    justify-content: center;
    cursor: pointer;

}
#languages:focus{
    outline: none;
}
#languages{
    color: rgba(75, 75, 75, 0.781);
    border: none;
    width: 66px;
}
.year{
    margin-left: 15px;
    color: rgba(75, 75, 75, 0.781);
}
