
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --purpletopink: #5943AA, #6B45AB, #8147AD,#A44AB0,#DA4FB3,#E74FB3;
}
body{
    font-family: "Roboto Slab", sans-serif;
    min-height: 100vh;
    /* overflow: hidden; */
    
}
.nav-bar{
    display: flex;
    /* position: fixed;
    top: 0;
    width: 100%; */
    background-color: white;
    justify-content:space-around;
    height: 60px;
}
.logo {
    width: 111.42px;
}
.info button{
    border: none;
    background-color: white;
    font-size: 1rem;
}
.info a{
    text-decoration: none;
    color: black;
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
.nav-bar ul > li{
    margin-left: 30px;
    align-self: center;
}
.login{
    display: flex;
    height: 100%;
    font-size: 19px;
    align-items: center;
}  
.trello_free{
    display: flex;
    margin-left: 30px;
    align-items: center;
    background-color: #0065FF;
    font-weight: 400;
    height: 100%;
    padding: 30px;
    color: white;
}

.ai_features{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    height: 60px;
    /* #091E42
    #0747A6 */
}
.ai_features span{
    color:  #091E42;
}
.ai_features a{
    color: #0747A6;

}
.container{
    background-image: linear-gradient(45deg, var(--purpletopink));
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 760px;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
}

#wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-image: linear-gradient(45deg, var(--purpletopink));' */
    rotate: 180deg;
}
.title_desc{
    padding: 5px;
    max-width: 560px;

}
.title_desc, .img_title{
    margin-top: 100px;
}
.title{
    color: white;
    font-family: "Bebas Neue";
    font-size: 3rem;
}
.desc{
    color: white;
    font-family: "Roboto Slab";
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.img_title{
    width:632.98px;
    height:558.58px;
    z-index: 2;
    position: relative;
    
}
#email{
    width: 300px;
    font-size: 1.1rem;
    border: none;
    transition: outline 0.2s ease;
}
.email{
    margin-bottom: 16px;
}

#email,#submit{
    height: 50px;
    border-radius: 5px;
    padding: 14px;
}
#submit{
    position: relative;
    width: 230px;
    font-weight: 600;
    font-size: 1rem;
    background-color: #0065FF;
    color: white;
    border: none;
    text-align: left;
    transition: background-color 0.5s ease;
    z-index: 2;
    

}
#submit:hover{
    background-color: #0747A6;
}
#email::placeholder{
    font-weight: bold;
    font-size: 1rem;
    color: rgba(102, 102, 102, 0.59);
}
#email:focus{
    outline: 3px solid white;
}